.header__about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/header-about.png');
  background-size: 100%;
}

.title__container {
  max-width: 1360px;
  display: flex;
}

.title__about {
  font-size: 112px;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 118px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}

/* Услуги */

.service__cards.service__cards-about-slider {
  display: none;
}

/* Наши Клиенты */
.ourclients {
  display: block;
  margin: 0 auto;
}

.header__link-about {
  font-size: 30px;
  letter-spacing: 0.25em;
  line-height: 31px;
}

.header__link-about:hover {
  color: #fb4f50;
}

/* каталог */

.catalog {
  background-image: url('../images/catalog-background.png');
  background-repeat: no-repeat;
  background-position: right;
  box-sizing: border-box;
  object-fit: cover;
  display: block;
  position: relative;
}

.block__title-container1-catalog {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.red-line-catalog {
  top: 18%;
}

.catalog__description {
  max-width: 600px;
  font-family: 'Montserrat';
  font-weight: 500px;
  font-size: 18px;
  line-height: 32px;

  margin: 79px 0 103px;
  padding-left: 150px;
}

.catalog__button {
  font-family: 'Montserrat';
  font-weight: 700px;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;

  color: #fff;
  text-decoration: none;
  border-radius: 55px;
  padding: 30px 150px;
  background-color: #fb4f50;
  margin: 0 0 150px 147px;
}

@media screen and (max-width: 1023px) {
  .container__title-ourclients {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .title__about {
    font-size: 56px;
    letter-spacing: 0.025em;
    line-height: 48px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0 40px;
  }

  .header__about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../images/background.jpg');
  }

  /* Наши Клиенты */

  .block__title-container1-about {
    display: flex;
    flex-direction: column;
  }

  .about__list-item {
    margin: 36px 8px 46px;
  }

  .header__link-about {
    font-size: 22px;
    letter-spacing: 0.25em;
    line-height: 22px;
  }

  /* каталог */
  .catalog {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../images/catalog-background.png');
    background-position: center;
  }

  .container__title-catalog {
    max-width: 280px;
    align-self: center;
    text-align: center;
    padding: 0;
  }

  .catalog__description {
    align-self: center;
    text-align: center;
    max-width: 342px;
    font-family: 'Montserrat';
    font-weight: 400px;
    font-size: 14px;
    line-height: 23px;

    margin: 79px 0 103px;
    padding-left: 0;
  }

  .catalog__button {
    align-self: center;
    padding: 30px 110px;
    margin: 0 0 108px 0;
  }
}

@media screen and (max-width: 767px) {
  .service__cards.service__cards-about-static {
    display: none;
  }
  .service__cards.service__cards-about-slider {
    display: block;
  }

  .service__card.service__card-about {
    display: block;
    margin: 0 auto;
  }

  .about__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
