@import url(../vendor/normalize.css);
@import url(../css/slick.css);
@import url(../vendor/fonts/fonts.css);

body {
  font-family: 'RF Rufo';
  background-color: #151517;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__phone {
  display: none;
}
.header__burger {
  display: none;
}

.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 0 36px;
}

.header__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: #fff;
  text-decoration: none;
}

.header__link {
  position: relative;
  color: #fff;
  font-family: 'RF Rufo';
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.13em;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 7px;
}

.header__list-item {
  margin-right: 78px;
}

.header__list-item:last-child {
  margin-right: 0px;
}

.header__link:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;
  transition: opacity 0.2s linear;
  background-color: #fb4f50;
  position: absolute;
  top: 100%;
  left: 0;
}

.header__link:hover:after {
  opacity: 1;
}

.header__info {
  display: flex;
  align-items: center;
}

.contacts {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.13em;
  line-height: 40px;
  margin: 0 0 0 38px;
}

.flex {
  display: flex;
  justify-content: center;

}

.title__info {
  max-width: 598px;
}

.title {
  font-size: 72px;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 75px;
  text-transform: uppercase;
  margin: 0 0 49px 0;
}

.title__description {
  font-family: 'Montserrat';
  margin: 0;
  color: #a8a8aa;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.card {
  position: relative;
  padding-right: 10px;
}

.card__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 320px;
  height: 320px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
}

.card__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fb4f50;
  opacity: 0;
  z-index: -1;
  transition: opacity 200ms ease-out;
}

.card__link:hover::before {
  opacity: 0.7;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__title {
  margin: 0;
  padding-left: 28px;
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 34px;
  text-transform: uppercase;
}

.card__description {
  padding-left: 28px;
  padding-right: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.slider__item-mobile {
  display: none;
}

.opacity-slide {
  display: none;
}

.desktop-slider-w {
  display: block;
}
.mobile-slider-w {
  display: none;
}
.mobile-slider-w .slick-slide > div:nth-child(2) {
  margin-top: 20px;
}

/* О Компании -------*/

.about {
  position: relative;
  background: url(../images/team.png);
  background-size: cover;
  box-sizing: border-box;
}

.about__team {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  overflow: hidden;
}

.container__title {
  margin: 0;
  font-weight: 400;
  font-size: 80px;
  line-height: 83px;
  text-transform: uppercase;
  padding-left: 150px;
}

.block__title-container1 {
  margin: 0 auto;
  max-width: 1510px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
}

.block__title-container2 {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 880px;
}

.red-line {
  background-color: #fb4f50;
  position: absolute;
  top: 50%;
  left: 0;
  width: 107px;
  height: 2px;
}

/* Услуги -------*/

.services {
  display: block;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/services-background.png);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.service__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 70px auto 0;
  max-width: 1360px;
}

.card__item {
  max-width: 340px;
  margin: 0 auto 70px;
}
.service__card {
  display: block;
  margin: 0 auto;
  width: 278px;
  height: 312px;
  background: rgba(255, 255, 255, 0.1);
}

.service__title {
  padding: 25px 25px 0 21px;
  font-family: 'Montserrat';
  margin: 0;
  color: #fb4f50;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.service__description {
  margin: 28px 26px 0;
  font-family: 'Montserrat';
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
}

.service__description:last-child {
  margin: 20px 26px 78px;
}

/* КОНТЕЙНЕР ИНПУТЫ и ЧЕКБОКСЫ*/
.barModal--checkbox {
  font-family: "Montserrat";
  font-size: 10px;
}

.field {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.button__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  max-width: 900px;
}

.barInput {
  border-bottom: 1px solid rgba(255,255,255,.12);
  position: relative;
  color: #fff;
}

.barInput::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #5A5A5A;
  width: 3px;
  height: 3px;
  border-radius: 100%;
}

.formItem {
  font-family: 'Montserrat';
  background: transparent;
  color: #fff;
  border: none;
  font-size: 13px;
  margin: 0;
  padding: 6px;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .header__logo {
    width: 92px;
    height: 74px;
  }

  .header__list-item {
    margin-right: 30px;
  }

  .cart {
    width: 48px;
    height: 48px;
  }

  .contacts {
    font-size: 20px;
  }

  .title {
    font-size: 46px;
    line-height: 49px;
  }

  .title__info {
    padding: 0 20px 0;
    text-align: center;
  }

  .title__description {
    display: none;
  }

  .card__link {
    width: 220px;
    height: 220px;
    justify-content: center;
  }

  .card__title {
    padding-left: 0;
    text-align: center;
    font-size: 22px;
    line-height: 23px;
  }

  .card__description {
    display: none;
  }

  /* Заголовок с красной линией -------*/

  .red-line {
    display: none;
  }

  /* О Компании -------*/

  .container__title {
    position: relative;
    margin: 0;
    font-size: 35px;
    line-height: 42px;
    padding-left: 0px;
  }

  .block__title-container2 {
    position: relative;
    margin: 0 auto;
    padding-top: 0;
  }

  /* Услуги -------*/
}

@media screen and (max-width: 767px) {
  .header {
    background-image: url('../images/background.jpg');
    background-size: 100%;
  }
  body.lock {
    overflow: hidden;
  }
  .header__body {
    padding: 0 0 36px;
  }
  .header__logo {
    margin-top: 50px;
    margin-right: 43px;
  }
  .phone {
    width: 20px;
    height: 20px;
  }
  .header__phone {
    display: flex;
    align-items: center;
    position: relative;
    top: -30px;
    left: 20px;
  }
  .header__burger {
    display: block;
    position: relative;
    top: -30px;
    right: 20px;
    width: 23px;
    height: 16px;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    right: 0;
    width: 80%;
    height: 2px;
    top: 7px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    z-index: 2;
    height: 2px;
    right: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    width: 100%;
    top: 0;
  }
  .header__burger:after {
    width: 60%;
    bottom: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 7px;
    z-index: 3;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    width: 100%;
    bottom: 7px;
    z-index: 3;
  }
  .header__burger.active span {
    transform: scale(0);
    z-index: 4;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #202020;
    opacity: 1;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
    padding: 30px 10px 20px 10px;
    z-index: 2;
  }
  .header__info {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    opacity: 1;
    transition: all 0.3s ease 0s;
  }
  .header__info.active-phone {
    top: 0;
    padding: 30px 10px 20px 10px;
    z-index: 3;
  }

  .header__list {
    display: block;
  }

  .header__list-item {
    margin: 0 0 20px 0;
  }

  .cart {
    padding-left: 15px;
    width: 28px;
    height: 28px;
  }

  .title {
    margin-bottom: 65px;
  }

  .card-static {
    display: none;
  }

  .card__link {
    height: 118px;
  }

  .card__item {
    max-width: 340px;
    margin: 0 auto 38px;
  }

  .slider__item-mobile {
    display: flex;
    justify-content: center;
  }

  .desktop-slider-w {
    display: none;
  }
  .mobile-slider-w {
    display: block;
    position: relative;
  }

  .flex__mobile {
    max-width: 767px;
    display: flex;
    justify-content: space-evenly;
  }


  .opacity-slide {
    display: block;
    position: absolute;
    width: 34%;
    height: 45%;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  /* О Компании мобилка -------*/

  .about {
    background: none;
  }

  .about__team {
    max-width: 100%;
  }

  .block__title-container2 {
    position: relative;
    left: 0px;
    top: 20px;
  }

  /* Услуги мобилка -------*/

  .service__title {
    font-size: 18px;
    line-height: 19px;
  }

  .service__description {
    font-size: 12px;
    line-height: 19px;
  }
}
