.header__rent {
  background-image: linear-gradient(
      117deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 0, 0, 1) 42%,
      rgba(255, 255, 255, 0) 100%,
      rgba(0, 213, 255, 0) 100%
    ),
    url('../images/rent-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 150px;
}

.block__title-container2-rent {
  max-width: 910px;
}

.container__title-rent {
}

.rent__description {
  max-width: 600px;
}

.rent__button {
  padding: 20px 40px;
}

/* квиз кофемашин */

.coffe-machine__quiz {
  display: block;
  background-image: url(../images/quiz-background.jpg);
  background-size: cover;
  padding-bottom: 60px;
}

.block__title-container2-quiz {
  max-width: 1300px;
}

.quiz__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 120px auto;
}

.quiz__item {
  display: flex;
  justify-content: space-between;
  max-width: 620px;
  margin: 20px auto;
}
.quiz__item-left {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2) 35%,
    #fb4f50 35%,
    #fb4f50
  );
}
.quiz__item-right {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2) 65%,
    #fb4f50 65%,
    #fb4f50
  );
}
.quiz__item_image {
  object-fit: cover;
  padding: 26px 21px;
}

.quiz__container_buttons {
  max-width: 1028px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 80px;
}

.quiz__container_buttons-mobile {
  display: none;
}

.button__yes {
  margin: 0;
  padding: 25px 90px;
}
.quiz__question {
  margin: 0;
  padding: 0;
}
.button__no {
  background-color: #969292;
  margin: 0;
  padding: 25px 90px;
}

/* прогресс квиза */
.progress-mobile {
  display: none;
}

.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

progress {
  border: 0;
  max-width: 1000px;
  width: 100%;
  height: 26px;

  border-radius: 4px;
  background: rgba(255, 255, 255, 0.15);
}
progress::-webkit-progress-bar {
  max-width: 1000px;
  width: 100%;
  height: 26px;

  border-radius: 4px;
  background: rgba(255, 255, 255, 0.15);
}
progress::-webkit-progress-value {
  border-radius: 4px;
  background: #fb4f50;
}
progress::-moz-progress-bar {
  border-radius: 4px;
  background: #fb4f50;
}

.progress__description {
  color: #969292;
  font-family: 'Montserrat';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

/* каталог кофемашин */

.desktop-rent {
  display: block;
}
.mobile-rent {
  display: none;
}

.coffe-machine__catalog {
  background-size: cover;
  background-image: url(../images/background-coffemachine-catalog.jpg);
}

.block__title-container1-coffe-machine__catalog {
}

.coffe-machine__catalog-flex {
  max-width: 1210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  min-width: 0;
  display: flex;
  align-items: start;
  margin: 82px auto 182px;
}

/* десктоп слайдер каталога */
.desktop-slider-rent {
  min-width: 0;
  padding: 0 50px;
}

.slider__item_rent {
  margin: 0 24px 48px;
  background: rgba(255, 255, 255, 0.2);
}

.desktop-slider-rent .slick-arrow {
  position: absolute;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 70px;
  border: none;
  outline: none;
  cursor: pointer;
}

.desktop-slider-rent .slick-arrow.slick-prev {
  top: 65%;
  left: 0;
  background: url('../images/arrow-l.svg') 0 0 / 100% no-repeat;
}

.desktop-slider-rent .slick-arrow.slick-next {
  top: 15%;
  right: 0;
  background: url('../images/arrow-r.svg') 0 0 /100% no-repeat;
}

.coffe-machine__catalog_menu {
  margin: 0;
  padding: 0;
}

.coffe-machine__catalog_list {
  list-style: none;
  padding: 0 0 0 16px;
}

.coffe-machine__catalog_item {
  margin: 0 0 29px 0;
  position: relative;
}

.coffe-machine__catalog_link {
  font-family: 'Montserrat';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  transition: color 0.2s linear;
}
.coffe-machine__catalog_link:hover {
  color: #fb4f50;
}

.card__rent {
}

.card__rent_image {
  width: 172px;
  height: 167px;
  margin: 30px auto 12px;
}

.card__rent_title {
  text-align: center;

  font-family: 'Montserrat';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.link__rent_item {
}

@media screen and (max-width: 1023px) {
  .desktop-rent {
    display: none;
  }
  .mobile-rent {
    display: block;
  }

  .coffe-machine__catalog {
    background-image: none;
  }

  .block__title-container1-coffe-machine__catalog {
    display: none;
  }

  .coffe-machine__quiz {
    background-image: none;
  }

  .mobile__filter-slider-rent {
    margin: 62px auto 30px;
    max-width: 100vw;
  }

  .slider__item_rent-filter {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.025em;
    text-transform: uppercase;

    padding-bottom: 14px;
    margin: 0 8px;
  }

  .slider__item_rent-filter.slick-center {
    color: #fb4f50;
    border-bottom: 1px solid #fb4f50;
  }

  .mobile__filter-slider-rent .slick-arrow {
    position: absolute;
    top: 0;
    z-index: 10;
    font-size: 0;
    width: 40%;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .mobile__filter-slider-rent .slick-arrow.slick-prev {
    left: 0;
    background: transparent;
  }
  
  .mobile__filter-slider-rent .slick-arrow.slick-next {
    right: 0;
    background: transparent;
  }
  
  .slider__item_rent-mobile{
    margin: 0 20px;
    opacity: 0.4;
  }
  
  .slider__item_rent-mobile.slick-active {
    opacity: 1;
    margin: 0 20px;
  }
  
  
  .mobile-slider-rent .slick-arrow {
    position: absolute;
    top: 40%;
    z-index: 10;
    font-size: 0;
    width: 20px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .mobile-slider-rent .slick-arrow.slick-prev {
    left: 10px;
    background: url('../images/arrow-l.svg') 0 0 / 100% no-repeat;
  }
  
  .mobile-slider-rent .slick-arrow.slick-next {
    right: 10px;
    background: url('../images/arrow-r.svg') 0 0 / 100% no-repeat;
  }
}

@media screen and (max-width: 767px) {

  .header__rent {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 150px;
  }

  .quiz__item {
    max-width: 320px;
  }

  .quiz__item-right {
    display: none;
  }

  .quiz__item_image {
    width: 140px;
    height: 128px;
    padding: 16px 12px;
  }

  .rent__description {
    padding: 0 16px;
    line-height: 32px;
  }

  .quiz__container {
    margin: 32px auto;
  }

  .quiz__container_buttons {
    display: none;
  }

  .quiz__container_buttons-mobile {
    display: block;
  }

  .progress {
    display: none;
  }

  .progress-mobile {
    display: block;
  }

  .progress__description {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  .buttons__rent_mobile {
    display: flex;
    justify-content: space-around;
  }

  .button__yes {
    color: #111;
    background-color: #fff;
    margin: 0;
    padding: 14px 60px;
  }
  .quiz__question {
    margin-bottom: 32px;
  }
  .button__no {
    background-color: #969292;
    background-color: #fb4f50;
    margin: 0;
    padding: 14px 60px;
  }
}
