.header__sale {
  background-image: url('../images/background-coffemachine-catalog.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.block__title-container2-sale {
  max-width: 1500px;
  margin: 50px 105px;
}

.container__title-rent {
  font-size: 112px;
  font-style: normal;
  font-weight: 400;
  line-height: 116px;
  letter-spacing: 0.025em;
}

.sale__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  max-width: 1300px;
  margin: 0 auto 142px;
}

.chips__menu {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.chips__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 24px auto;
  padding: 14px;
  border-radius: 10px;
  background-color: #443e3e;

  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
}

.chips__item p {
  margin-right: 20px;
}

/* -----------всплывайка----------- */

.sale__filter {
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 40px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* ----------------- */

.sale__position {
  display: flex;
  justify-content: space-between;
  width: 44px;
}

.horizontal__position {
  background-image: url('../images/horizontal.svg');
  width: 16px;
  height: 18px;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.horizontal__position:hover {
  transform: scale(1.2);
}

.gallery__position {
  background-image: url('../images/vertical.svg');
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.gallery__position:hover {
  transform: scale(1.2);
}

/* основной контент */

.content {
  max-width: 1300px;
  margin: 0 auto;
}

.content__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__title {
  margin: 18px 32px 80px;

  font-family: RF Rufo;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  text-transform: uppercase;
}

.content__menu_checkboxes {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin-left: 24px;
}

.checkbox__container {
  margin-bottom: 24px;
  margin-left: 14px;

  font-family: 'Montserrat';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.radio {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #fb4f50;
}

/* -----------radio----------- */

.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #858791;
  border-radius: 50%;
  margin-right: 1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border: 1px solid #fff;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active + label::before {
  background-color: #fb4f50;
  border-color: #fff;
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked) + label::before {
  border: 1px solid #fff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
  background-color: #fb4f50;
  border-color: #fff;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}

/* -----------checkbox----------- */

.checkbox__brand_title {
  font-family: 'Montserrat';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  margin: 25px 16px;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #858791;
  border-radius: 5px;
  margin-right: 1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox__built-in {
  margin-top: 35px;
}

/* стили при наведении курсора на радио */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border: 1px solid #fff;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #fb4f50;
  border-color: #fff;
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
  border: 1px solid #fff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-checkbox:checked + label::before {
  background-color: #fb4f50;
  border-color: #fff;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

/* -----------POLZUNOK----------- */

.polzunok__title {
  margin: 25px 0px;
}

.polzunok-container-5 * {
  box-sizing: border-box;
  outline: none;
}
.polzunok-container-5 {
  margin: 12px 15px 48px;
}
.polzunok-container-5:after {
  content: '';
  clear: both;
  display: table;
}
.polzunok-container-5 .ui-slider {
  position: relative;
  background: #fff;
  height: 5px;
  border-radius: 1px;
}
.polzunok-container-5 .ui-slider .ui-slider-handle {
  position: absolute;
  top: -3px;
  margin-left: -7px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid #fff;
  background: #fff;
  z-index: 1;
}
.polzunok-container-5 .ui-slider .ui-slider-handle:hover,
.polzunok-container-5 .ui-slider .ui-slider-handle:focus {
  /* transform: scale(1.2);
  border: 4px solid #fff; */
}
.polzunok-input-5-left,
.polzunok-input-5-right {
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  height: 22px;
  border-radius: 6px;
  padding: 10px 16px;
  width: 88px;
  margin-top: 30px;
  border: #fff 2px solid;
}
.polzunok-input-5-left {
  float: left;
}
.polzunok-input-5-right {
  float: right;
}
.polzunok-container-5 .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 5px;
  border: 0;
  background: #fb4f50;
  border-radius: 10px;
}

.polzunok-container-6 * {
  box-sizing: border-box;
  outline: none;
}
.polzunok-container-6 {
  margin: 12px 15px 48px;
}
.polzunok-container-6:after {
  content: '';
  clear: both;
  display: table;
}
.polzunok-container-6 .ui-slider {
  position: relative;
  background: #fff;
  height: 5px;
  border-radius: 1px;
}
.polzunok-container-6 .ui-slider .ui-slider-handle {
  position: absolute;
  top: -3px;
  margin-left: -7px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid #fff;
  background: #fff;
  z-index: 1;
}
.polzunok-container-6 .ui-slider .ui-slider-handle:hover,
.polzunok-container-6 .ui-slider .ui-slider-handle:focus {
  /* transform: scale(1.2);
  border: 4px solid #fff; */
}
.polzunok-input-6-left,
.polzunok-input-6-right {
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  height: 22px;
  border-radius: 6px;
  padding: 10px 16px;
  width: 88px;
  margin-top: 30px;
  border: #fff 2px solid;
}
.polzunok-input-6-left {
  float: left;
}
.polzunok-input-6-right {
  float: right;
}
.polzunok-container-6 .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 5px;
  border: 0;
  background: #fb4f50;
  border-radius: 10px;
}

/* ------------- */

.search__button {
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;

  margin: 64px auto 24px;
  padding: 20px 60px;
}

.reset__button {
  font-family: 'RF Rufo';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  color: #fff;
  text-decoration: none;
  margin: 0 auto 76px;
}

/* Карточки */

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: space-between;
  max-width: 904px;
  padding: 18px 3px 18px 26px;
  background: rgba(255, 255, 255, 0.08);
  margin-bottom: 40px;
  transition: background 0.3s linear;
}

.card:hover {
  background: rgba(255, 255, 255, 0.2);
}

.card:last-child {
  margin-bottom: 0;
}

.card__img {
}

.card__text {
  max-width: 302px;
}

.card__title {
  font-family: 'RF Rufo';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;

  padding-left: 26px;
}

.card__description {
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #a8a8aa;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 26px;
  padding-right: 5px;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-left: 110px;
}

.card__article {
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
}

.card__price_new {
  color: #fb4f50;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.025em;
  margin: 0;
}

.card__price_old {
  text-decoration: line-through;
}

.card__cart {
  padding: 8px 50px;
  margin-right: 7px;
  width: 26px;
  height: 26px;
  background-color: #fb4f50;
  border-radius: 10px;
}

.card__cart:hover {
  box-shadow: 5px 15px 15px rgb(251 79 80 / 20%);
}

.card__compare {
  padding: 8px;
  margin-left: 7px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
}

.card__compare:hover {
  box-shadow: 5px 15px 15px rgb(251 79 80 / 20%);
}

/* карточки плиткой */

.cards__gallery {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card__gallery {
  max-width: 419px;
  padding: 18px 10px 26px;
  margin-bottom: 60px;
  margin-left: 2px;
  margin-right: 2px;
}

.card__gallery:last-child {
  margin-bottom: 60px;
}

.card__title_gallery {
  font-size: 24px;
  line-height: 32px;
}

.card__description_gallery {
  font-size: 12px;
  line-height: 16px;
}

.card__info_gallery {
  flex-direction: row;
  padding-left: 26px;
}

.card__price_new_gallery {
  font-size: 28px;
  padding: 0 6px 6px 0;
}

.card__cart_gallery {
  justify-content: space-between;
  align-items: center;
  padding: 6px 14px;
  border-radius: 25px;
}

.mobile__sale {
  display: none;
}

.content__menu_checkboxes.burger {
  display: none;
}


@media screen and (max-width: 1227px) {
  .sale__position {
    display: none;
  }
  .card__info {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .card__description {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__sale {
    background-image: none;
  }

  .block__title-container1-catalog {
    align-items: center;
  }

  .container__title-sale {
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.025em;
    text-align: center;
  }

  .sale__menu {
    display: none;
  }

  .content__menu_checkboxes {
    display: none;
  }

  .vision__gallery {
    display: none;
  }

  .vision__classic {
    display: none;
  }

  .content__menu {
    display: block;
  }

  .mobile__sale {
    display: block;
  }

  .places {
    display: flex;
    justify-content: space-around;

    margin: 84px auto 50px;
  }

  .place {
    font-family: 'RF Rufo';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.025em;
    text-transform: uppercase;

    transition: color 0.2s ease-in;
    padding-bottom: 12px;
    margin: 0 auto 44px;
    cursor: pointer;
  }

  .place:hover {
    color: #fb4f50;
    border-bottom: 1px solid #fb4f50;
  }

  .filters__mobile {
    margin: 0 20px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filter1 {
    width: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .filter1__text {
    margin: 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .filter1__icon {
    background-image: url('../images/filter-arrow-down.svg');
    background-repeat: no-repeat;
    width: 10px;
    height: 8px;
  }

  .filter2__icon {
    background-image: url('../images/filter.svg');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;

    cursor: pointer;
  }

  .card-mobile {
    flex-direction: column;
    padding: 0;
  }

  .card__img-mobile {
    padding: 0 0 34px 0;
  }

  .card__text-mobile {
    max-width: 767px;
    display: flex;
    flex-direction: row;
    padding: 0 14px 34px;
    justify-content: space-between;
  }

  .card__title-mobile {
    padding: 0;
    text-align: start;
  }

  .card__article-mobile {
  }

  .card__description-mobile {
    text-align: start;
    padding: 0 60px 14px 22px;
  }

  .card__info-mobile {
    padding-left: 14px;
    align-items: flex-start;
  }

  .card__price_old-mobile {
    margin: 0 0 8px;
  }

  .price__container-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  /* фильтры бургер */

  .header__body-burger-mobile {
    padding: 0;
  }

  .header__burger-burger-mobile {
    top: 30px;
    right: 30px;
  }

  .header__phone-burger-mobile {
    top: 30px;
    left: 30px;
  }

  .content__menu_checkboxes-mobile {
    background-image: url('../images/background.jpg');
    display: block;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-left: 0;
    z-index: 3;
  }

  .content__title-burger-mobile {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 58px auto 28px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .link-burger-mobile {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.025em;
    padding: 12px 20px 12px 0;
    transition: color 0.2s ease-in;
  }

  .link-burger-mobile:hover {
    color: #fb4f50;
  }

  .checkbox__brand_title-burger-mobile {
    font-family: 'RF Rufo';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
  }

  .radio-burger-mobile {
    border: none;
  }

  .polzunok-input-5-left,
  .polzunok-input-5-right,
  .polzunok-input-6-left,
  .polzunok-input-6-right {
    width: 48%;
  }

  .buttons-burger-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search__button {
    padding: 20px 100px;
  }
}
